  .formulario 
  {
    
    width: 105%;
    margin: 0 -2.5% 40px;
    overflow: hidden;

    header 
    {
      padding-left: 40px;
      padding-right: 40px;
    }

    fieldset 
    {
      display: block;
      margin: 0 2.5%;
      width: 45%;
      float: left;

      @include breakpoint(max-width ($tablet-port - 1))
      {
        width: 100%;
        margin: 0;
        float: none;
      }       

      &.full
      {
        width: 100%;
        clear: both;
      }

      label 
      {
        display: block;
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"]
      {
        border: 1px solid #c2c2c2;
        color: $color-input;
        font-family: $font-texto;
        font-size: $font-size-base * 1.5;
        padding: 10px;
        outline: none;
        width: 94.5%;

        @include input-placeholder
        {
          color: $color-placeholder;
        }

      }

      textarea
      {
        border: 1px solid #c2c2c2;
        color: $color-input;
        font-family: $font-texto;
        font-size: $font-size-base * 1.5;
        padding: 10px;
        outline: none;
        width: 94.5%; 

        height: 117px;
        min-height: 117px;
        max-height: 117px;  
        
        @include input-placeholder
        {
          color: $color-placeholder;
        }           

      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea
      {
        @include transition(all .5s ease-out);
        @include breakpoint(max-width ($tablet-port - 1))
        {
          width: 93%;
        } 

        &:hover,
        &:focus
        {
          border: 1px solid #006a43;
        }

      }      

    }

  }

  .btn-saibaMais,
  #enviar,
  .enviar-icon
  {

    width: auto;
    position: relative;

    &:before
    {
      background: url("../imgs/btn-bg.png") no-repeat 0 0;
      content: "";
      position: absolute;
      z-index: 10;
      bottom: -3px;
      left: 0;
      width: 26px;
      height: 54px;
    }

  }

  .btn-saibaMais,
  input[type="submit"]
  {
    background: #006a43;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: $font-main;
    font-size: $font-size-base * 2.2;
    padding: 10px 50px 10px 25px;
    outline: none;
    line-height: 1em;
    margin-top: -3px;
    position: relative;

    @include transition(all .5s ease-out);

    &:hover,
    &:focus 
    {
      background: $color-txt-menu;
    }

  }

  input[type="submit"]
  {
    width: 98%;
  }