  .formulario 
  {
    
    width: 105%;
    margin: 0 -2.5% 40px;
    overflow: hidden;

    header 
    {
      padding-left: 40px;
      padding-right: 40px;
    }

    fieldset 
    {
      display: block;
      margin: 0 2.5%;
      width: 45%;
      float: left;

      @include breakpoint(max-width ($tablet-port - 1))
      {
        width: 100%;
        margin: 0;
        float: none;
      }       

      &.full
      {
        width: 100%;
        clear: both;
      }

      label 
      {
        display: block;
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"]
      {
        border: 1px solid #c2c2c2;
        color: $color-input;
        font-family: $font-texto;
        font-size: $font-size-base * 1.5;
        padding: 10px;
        outline: none;
        width: 94.5%;

        @include input-placeholder
        {
          color: $color-placeholder;
        }

      }

      textarea
      {
        border: 1px solid #c2c2c2;
        color: $color-input;
        font-family: $font-texto;
        font-size: $font-size-base * 1.5;
        padding: 10px;
        outline: none;
        width: 94.5%; 

        height: 68px;
        min-height: 68px;
        max-height: 68px;  
        
        @include input-placeholder
        {
          color: $color-placeholder;
        }           

      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea
      {
        @include breakpoint(max-width ($tablet-port - 1))
        {
          width: 93%;
        } 
      }      

    }

  }

  .btn-saibaMais,
  input[type="submit"]
  {
    background: $color-main;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: $font-main;
    font-size: $font-size-base * 2.2;
    padding: 15px 50px 15px 25px;
    outline: none;
    line-height: 1em;

    @include transition(all .5s ease-out);

    &:hover,
    &:focus 
    {
      background: $color-txt-menu;
    }

  }