#footer 
{
	background: $color-main;
	overflow: hidden;
	height: 120px;
	//margin-top: 40px;

	.footerLft
	{
		width: span(2 wide);
		float: left;
		position: relative;
		z-index: 10;
		padding: 35px 0;

		&:before
		{
			background: $bg-cinza-ie;
			content: "";
			position: absolute;
			top: 0;
			left: -300%;
			z-index: -10;
			width: 400%;
			height: 100%;

		}

		@include breakpoint(max-width ($desktop-port - 1))
		{
			width: span(3 wide);
		}			

		@include breakpoint(max-width ($tablet-port - 1))
		{
			display: none;
			width: 0%;
		}		

	}

	.footerRgt
	{
		background: url("../imgs/dg-rodape.png") no-repeat 0 0;
		width: span(8 wide);
		float: right;
		padding: 45px 0;	

		@include breakpoint(max-width ($desktop-port - 1))
		{
			width: span(7 wide);
		}	

		@include breakpoint(max-width ($tablet-port - 1))
		{
			background: none;
			width: 100%;
			padding: 20px 0;
		}			

		p 
		{
			color: #acacac;
			font-size: $font-size-base * 1.3;
			margin: 0;
		}

		.mr 
		{
			width: 60%;
			padding: 0 0 0 120px;
			float: left;

			@include breakpoint(max-width $tablet-port)
			{
				width: 100%;
				padding: 0;
				float: none;
			}	

		}

		.mn 
		{
			width: 25%;
			float: right;

			@include breakpoint(max-width $desktop-land)
			{
				width: 20%;
			}	

			@include breakpoint(max-width $tablet-land)
			{
				width: 15%;
			}		

			@include breakpoint(max-width $tablet-port)
			{
				width: 100%;
				float: none;
				text-align: center;
			}							

			a 
			{
				line-height: 45px;

				@include breakpoint(max-width 500px)
				{
					display: block;
					width: 90px;
					margin: 0 auto;
				}	

			}

		}		

	}	

}