.destaques-valores
{
	width: 100%;
	overflow: hidden;
	margin: 0 0 5em;

	.destaque-valores 
	{
		width: 48%;
		background: $color-main;
		float: left;
		position: relative;

		@include breakpoint(max-width ($desktop-port - 1))
		{
			width: 100%;
			margin-bottom: 20px;
		}			

		&.right 
		{
			float: right;
		}

		a 
		{
			display: block;
			width: 90%;
			height: 100%;
			padding: 30px;
			position: relative;

			@include breakpoint(max-width ($desktop-port - 1))
			{
				padding: 50px 30px;
			}	

		}

		h4 
		{
			margin-bottom: .3em!important;
		}

		h4, p 
		{
			color: $bg-cinza-ie;
			padding-right: 150px;
			margin-bottom: 0;

			@include breakpoint(max-width ($desktop-port - 1))
			{
				padding-right: 120px;
			}		

			@include breakpoint(max-width 500px)
			{
				padding-right: 0;
			}					

		}

		&:before
		{
			background: $color-subheader url("../imgs/seta-vl-right.jpg") no-repeat 50% 50%;
			content: "";
			width: 175px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 0;

			@include breakpoint(max-width 500px)
			{
				background: none;
				display: none;
			}	

		}	

	}

}