.noticias
{

  width: 105%;
  margin: 0 -2.5%;
  overflow: hidden;

  @include breakpoint(max-width ($tablet-port - 1))
  {
    width: 100%;
    margin: 0;
  } 

  article
  {

    //width: span(6 wide);
    width: 45%;
    margin: 0 2.5%;
    float: left;
    position: relative;
    margin-bottom: 5em;
    border-bottom: #c6c6c6 1px solid;

    @include breakpoint(max-width ($tablet-port - 1))
    {
      width: 100%;
      float: none;
      margin: 0 0 20px 0;
    } 

    .data 
    {
      background: $color-main;
      padding: 10px;
      text-align: center;
      width: 40px;
      height: 40px;
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;

      h4 
      {
        color: #fff;
        font-size: $font-size-base * 3;
        line-height: .8em;
      }

      h5 
      {
        color: #fff;
        font-size: $font-size-base * 1.8;
        line-height: .8em;
      }   

    }

    a 
    {

      h3 
      {
        color: $color-main;
        margin-bottom: 2em;
        line-height: .8em;
        margin-bottom: 10px;
      }

      p 
      {
        color: $color-main;
        text-align: justify;
        margin-bottom: 20px;
      }

    }

  }

}

.noticia-interna
{
  padding: 45px 0;
  width: 100%;
  margin: 0;

  figure 
  {
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;

    @include breakpoint(max-width ($tablet-port - 1))
    {
      margin: 0 0 20px 0;
      float: none;
      width: 100%;

      img 
      {
        margin: 0 auto;
        display: block;
        max-width: 100%;
      }

    } 

  }

  article 
  {

    border-bottom: 0 none;
    margin: 0;
    width: 100%;

    h3 
    {
      margin-bottom: .3em;
    }

    p 
    {
      margin: 0 0 1em 0;
    }

  }

}