@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../components/sass/_ie.scss */
.browsehappy {
  width: 45%;
  padding: 2.5%;
  margin: 5% auto;
  text-align: justify;
}
/* line 9, ../components/sass/_ie.scss */
.browsehappy a {
  color: #990000;
  text-decoration: none;
}

/* line 1, ../components/sass/_layout.scss */
body,
html {
  width: 100%;
  height: 100%;
}

/* line 8, ../components/sass/_layout.scss */
body {
  background: #fff;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 12px;
  overflow: auto;
  overflow-x: hidden;
  min-width: 300px;
}
/* line 19, ../components/sass/_layout.scss */
body.expanded {
  overflow: hidden;
}

/* line 26, ../components/sass/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Rokkitt", sans-serif;
  font-size: 35px;
  line-height: 1em;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 1200px) {
  /* line 26, ../components/sass/_layout.scss */
  h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
  }
}

/* line 41, ../components/sass/_layout.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 47, ../components/sass/_layout.scss */
p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 1.4em;
  margin: 0 0 1em;
}
@media (max-width: 1200px) {
  /* line 47, ../components/sass/_layout.scss */
  p {
    font-size: 13px;
  }
}
@media (max-width: 959px) {
  /* line 47, ../components/sass/_layout.scss */
  p {
    font-size: 12px;
  }
}

/* line 68, ../components/sass/_layout.scss */
.hide {
  display: none;
}

/* line 74, ../components/sass/_layout.scss */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 1199px) {
  /* line 74, ../components/sass/_layout.scss */
  .container {
    width: 940px;
  }
}
@media (max-width: 991px) {
  /* line 74, ../components/sass/_layout.scss */
  .container {
    width: 720px;
  }
}
@media (max-width: 767px) {
  /* line 74, ../components/sass/_layout.scss */
  .container {
    width: 450px;
  }
}
@media (max-width: 500px) {
  /* line 74, ../components/sass/_layout.scss */
  .container {
    width: 420px;
  }
}
@media (max-width: 479px) {
  /* line 74, ../components/sass/_layout.scss */
  .container {
    width: 300px;
  }
}

/* line 102, ../components/sass/_layout.scss */
#banner {
  position: relative;
  z-index: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
/* line 111, ../components/sass/_layout.scss */
#banner .bx-wrapper {
  margin-bottom: 0;
}
/* line 115, ../components/sass/_layout.scss */
#banner .bx-wrapper .bx-viewport {
  border: 0 none;
  left: 0;
}
/* line 134, ../components/sass/_layout.scss */
#banner #slides img {
  max-width: 100%;
}
/* line 143, ../components/sass/_layout.scss */
#banner .container-slider {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 100%;
  z-index: 99;
}
/* line 151, ../components/sass/_layout.scss */
#banner .container-slider p {
  color: #fff;
  font-family: "Rokkitt", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1em;
}
/* line 159, ../components/sass/_layout.scss */
#banner .container-slider p strong {
  font-weight: 700;
  display: block;
}
@media (max-width: 1199px) {
  /* line 143, ../components/sass/_layout.scss */
  #banner .container-slider {
    width: 80%;
  }
}
@media (max-width: 991px) {
  /* line 143, ../components/sass/_layout.scss */
  #banner .container-slider {
    width: 80%;
  }
  /* line 173, ../components/sass/_layout.scss */
  #banner .container-slider p {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  /* line 143, ../components/sass/_layout.scss */
  #banner .container-slider {
    top: 55%;
  }
}
@media (max-width: 500px) {
  /* line 186, ../components/sass/_layout.scss */
  #banner .container-slider p {
    font-size: 25px;
  }
}
/* line 198, ../components/sass/_layout.scss */
#banner .slides-pagination {
  position: absolute;
  z-index: 90;
  top: 70%;
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 198, ../components/sass/_layout.scss */
  #banner .slides-pagination {
    top: 65%;
  }
}
/* line 213, ../components/sass/_layout.scss */
#banner .slides-pagination a {
  border: 1px solid #fff;
  border-radius: 15px;
  width: 15px;
  height: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin: 4px;
  overflow: hidden;
  text-indent: -100%;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
}
/* line 232, ../components/sass/_layout.scss */
#banner .slides-pagination a.current {
  background: white;
}
/* line 237, ../components/sass/_layout.scss */
#banner .bx-wrapper .bx-controls-direction a {
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
}
/* line 245, ../components/sass/_layout.scss */
#banner .bx-wrapper .bx-prev {
  background: url("../imgs/back.png") no-repeat left center;
  left: 50px;
}
/* line 251, ../components/sass/_layout.scss */
#banner .bx-wrapper .bx-next {
  background: url("../imgs/next.png") no-repeat right center;
  right: 30px;
}

/* line 261, ../components/sass/_layout.scss */
.internas header {
  padding: 45px 0;
  position: relative;
}
/* line 266, ../components/sass/_layout.scss */
.internas header h2 {
  color: #272727;
  font-size: 30px;
  line-height: 1em;
}
/* line 273, ../components/sass/_layout.scss */
.internas header h3 {
  color: #006a43;
  font-size: 28px;
}
/* line 278, ../components/sass/_layout.scss */
.internas header h3:after {
  background: #006a43;
  content: " ";
  position: absolute;
  bottom: 36%;
  left: -100%;
  width: 100%;
  height: 1px;
}
/* line 292, ../components/sass/_layout.scss */
.internas p {
  margin-bottom: 1em;
}

/* line 1, ../components/sass/modules/_header.scss */
header#principal {
  background: #006a43;
  width: 100%;
  position: relative;
  z-index: 10;
}
/* line 8, ../components/sass/modules/_header.scss */
header#principal:before {
  content: "";
  background: #fff url("../imgs/dg-topo.png") no-repeat right top;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -13%;
  z-index: 0;
}
@media (max-width: 1200px) {
  /* line 8, ../components/sass/modules/_header.scss */
  header#principal:before {
    left: 0;
  }
}
@media (max-width: 991px) {
  /* line 8, ../components/sass/modules/_header.scss */
  header#principal:before {
    height: 100px;
  }
}
@media (max-width: 580px) {
  /* line 8, ../components/sass/modules/_header.scss */
  header#principal:before {
    background-image: none;
  }
}
/* line 35, ../components/sass/modules/_header.scss */
header#principal .container {
  position: relative;
  z-index: 10;
}
/* line 42, ../components/sass/modules/_header.scss */
header#principal #logo {
  width: 30%;
  float: left;
}
/* line 47, ../components/sass/modules/_header.scss */
header#principal #logo h1 {
  width: 267px;
  height: 75px;
}
/* line 52, ../components/sass/modules/_header.scss */
header#principal #logo h1 a {
  background: url("../imgs/almeida-cavalcanti.png") no-repeat left center;
  background: url("../imgs/svg/almeida-cavalcanti.svg") no-repeat left center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  text-indent: -9999px;
}
@media (max-width: 991px) {
  /* line 52, ../components/sass/modules/_header.scss */
  header#principal #logo h1 a {
    padding: 10px 0;
  }
}
/* line 73, ../components/sass/modules/_header.scss */
header#principal nav {
  width: 70%;
  float: right;
}
@media (max-width: 991px) {
  /* line 73, ../components/sass/modules/_header.scss */
  header#principal nav {
    display: none;
  }
}
/* line 89, ../components/sass/modules/_header.scss */
header#principal nav ul li {
  display: inline-block;
  margin: 0 12px;
  position: relative;
}
@media (max-width: 1400px) {
  /* line 89, ../components/sass/modules/_header.scss */
  header#principal nav ul li {
    margin: 0 8px;
  }
}
@media (max-width: 1200px) {
  /* line 89, ../components/sass/modules/_header.scss */
  header#principal nav ul li {
    margin: 0 10px;
  }
}
/* line 105, ../components/sass/modules/_header.scss */
header#principal nav ul li.hasSubmenu {
  background: url("../imgs/seta-submenu.png") no-repeat 50% 80%;
}
/* line 112, ../components/sass/modules/_header.scss */
header#principal nav ul li.active a {
  color: #006a43;
}
/* line 118, ../components/sass/modules/_header.scss */
header#principal nav ul li:last-child {
  padding-right: 0;
}
/* line 123, ../components/sass/modules/_header.scss */
header#principal nav ul li a {
  color: #272727;
  font-family: "Rokkitt", sans-serif;
  font-size: 19px;
  line-height: 7em;
}
@media (max-width: 1400px) {
  /* line 123, ../components/sass/modules/_header.scss */
  header#principal nav ul li a {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  /* line 123, ../components/sass/modules/_header.scss */
  header#principal nav ul li a {
    font-size: 18px;
  }
}
/* line 140, ../components/sass/modules/_header.scss */
header#principal nav ul li a:hover {
  color: #006a43;
}
/* line 151, ../components/sass/modules/_header.scss */
header#principal nav .submenu {
  position: absolute;
  top: 140px;
  left: -50%;
  width: 200%;
  padding: 20px 0 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  top: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 165, ../components/sass/modules/_header.scss */
header#principal nav .submenu li {
  padding: 5px;
  width: 75%;
  margin: 0 20px;
  border-bottom: 1px solid #5d9f89;
}
/* line 172, ../components/sass/modules/_header.scss */
header#principal nav .submenu li:last-child {
  padding: 5px;
  border-bottom: 0 none;
}
/* line 178, ../components/sass/modules/_header.scss */
header#principal nav .submenu li a {
  line-height: 1.5em;
  font-size: 18px;
}
/* line 192, ../components/sass/modules/_header.scss */
header#principal nav .hasSubmenu:hover .submenu {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  top: 130px;
}
/* line 203, ../components/sass/modules/_header.scss */
header#principal #redesSociais {
  position: absolute;
  right: -10px;
  top: 50px;
}
@media (min-width: 1920px) {
  /* line 203, ../components/sass/modules/_header.scss */
  header#principal #redesSociais {
    right: -180px;
  }
}
@media (max-width: 1400px) {
  /* line 203, ../components/sass/modules/_header.scss */
  header#principal #redesSociais {
    right: 30px;
  }
}
@media (max-width: 1200px) {
  /* line 203, ../components/sass/modules/_header.scss */
  header#principal #redesSociais {
    display: none;
  }
}
/* line 224, ../components/sass/modules/_header.scss */
header#principal #redesSociais li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
/* line 231, ../components/sass/modules/_header.scss */
header#principal #redesSociais li:last-child {
  margin: 0;
}
/* line 238, ../components/sass/modules/_header.scss */
header#principal #redesSociais li.face a {
  background-position: left center;
}
/* line 246, ../components/sass/modules/_header.scss */
header#principal #redesSociais li.linkedin a {
  background-position: right center;
}
/* line 252, ../components/sass/modules/_header.scss */
header#principal #redesSociais li a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../imgs/redesSociais.png") no-repeat 0 0;
  text-indent: -9999px;
}

/* line 267, ../components/sass/modules/_header.scss */
.cs_arrownext,
.cs_arrowprev {
  display: none;
}

/* line 1, ../components/sass/modules/_destaques.scss */
#destaques {
  position: relative;
  clear: both;
  margin: -5px 0;
  z-index: 5;
  float: left;
  background: #272727;
  width: 100%;
}
@media (max-width: 959px) {
  /* line 1, ../components/sass/modules/_destaques.scss */
  #destaques {
    height: 315px;
  }
}
@media (max-width: 768px) {
  /* line 1, ../components/sass/modules/_destaques.scss */
  #destaques {
    height: auto;
  }
}
/* line 22, ../components/sass/modules/_destaques.scss */
#destaques .destaque {
  width: 33.33%;
  height: 460px;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 30, ../components/sass/modules/_destaques.scss */
#destaques .destaque a.saibaMais {
  background: url("../imgs/saibaMais.png") no-repeat 0 0;
  color: #006a43;
  width: 215px;
  height: 56px;
  padding-left: 20px;
  padding-top: 18px;
  display: block;
  font-size: 20px;
  margin: 25px 0 0;
}
@media (max-width: 959px) {
  /* line 22, ../components/sass/modules/_destaques.scss */
  #destaques .destaque {
    height: 100%;
  }
}
@media (max-width: 768px) {
  /* line 50, ../components/sass/modules/_destaques.scss */
  #destaques .destaque.bgTxt {
    width: 100%;
    height: auto;
  }
  /* line 56, ../components/sass/modules/_destaques.scss */
  #destaques .destaque.special {
    display: none;
  }
}
/* line 62, ../components/sass/modules/_destaques.scss */
#destaques .destaque header {
  padding: 35px 40px;
}
@media (max-width: 1200px) {
  /* line 62, ../components/sass/modules/_destaques.scss */
  #destaques .destaque header {
    padding: 20px 40px;
  }
}
/* line 71, ../components/sass/modules/_destaques.scss */
#destaques .destaque header h3 {
  color: #fff;
}
/* line 78, ../components/sass/modules/_destaques.scss */
#destaques .destaque p {
  color: #fff;
  padding: 0 40px;
}
/* line 84, ../components/sass/modules/_destaques.scss */
#destaques .destaque.bgTxt {
  margin-top: -40px;
  padding-bottom: 40px;
}
/* line 89, ../components/sass/modules/_destaques.scss */
#destaques .destaque.bgTxt:before {
  content: "";
  background-color: #006a43;
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -10;
}
/* line 103, ../components/sass/modules/_destaques.scss */
#destaques .destaque img {
  max-width: 100%;
  border-right: 1px solid #ddd;
}
/* line 109, ../components/sass/modules/_destaques.scss */
#destaques .destaque footer {
  background: #272727;
  position: absolute;
  z-index: 10;
  bottom: 5px;
  padding: 15px 5%;
  height: 75px;
  width: 90%;
}
/* line 120, ../components/sass/modules/_destaques.scss */
#destaques .destaque footer:before {
  background: #272727;
  content: "";
  position: absolute;
  top: -20px;
  left: -2.5%;
  width: 105%;
  height: 60px;
  z-index: -10;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
/* line 133, ../components/sass/modules/_destaques.scss */
#destaques .destaque footer h4 {
  color: #fff;
  font-size: 25px;
  padding: 0 0 10px;
}
@media (max-width: 1200px) {
  /* line 133, ../components/sass/modules/_destaques.scss */
  #destaques .destaque footer h4 {
    font-size: 20px;
    padding-bottom: 5px;
  }
}
/* line 147, ../components/sass/modules/_destaques.scss */
#destaques .destaque footer p {
  color: #cecece;
  padding: 0;
}

/* line 3, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato {
  background: #fff url("../imgs/bg-not-home.png") no-repeat 3% 50%;
  position: relative;
  clear: both;
  margin: -5px 0;
  z-index: 20;
  overflow: hidden;
  padding: 0;
}
@media (max-width: 768px) {
  /* line 3, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato {
    background-position: -35% 15%;
  }
}
/* line 17, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato #noticias-contato
header {
  padding: 55px 0;
}
@media (max-width: 1200px) {
  /* line 17, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato #noticias-contato
  header {
    padding: 35px 0;
  }
}
/* line 28, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato #noticias-contato
header h2 {
  color: #272727;
  font-size: 35px;
}
/* line 36, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .cont-interna {
  padding-left: 180px;
  padding-right: 40px;
  padding-bottom: 40px;
}
/* line 42, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .cont-interna header {
  padding: 40px 0;
}
@media (max-width: 991px) {
  /* line 36, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato .cont-interna {
    padding-left: 0;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  /* line 36, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato .cont-interna {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 61, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .data {
  background: #272727;
  padding: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
/* line 72, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .data h4 {
  color: #fff;
  font-size: 30px;
  line-height: .8em;
}
/* line 79, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .data h5 {
  color: #fff;
  font-size: 18px;
  line-height: .8em;
}
/* line 88, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .noticia {
  width: 60%;
  float: left;
  position: relative;
  padding-bottom: 1000em;
  margin-bottom: -1000em;
}
@media (max-width: 768px) {
  /* line 88, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato .noticia {
    float: none;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
/* line 104, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .noticia h3 {
  margin-bottom: 2em;
  line-height: .8em;
  margin-bottom: 10px;
}
/* line 113, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato {
  width: 40%;
  float: right;
  position: relative;
  z-index: 10;
  padding-bottom: 1000em;
  margin-bottom: -1000em;
}
/* line 123, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato header {
  padding: 40px 0;
}
@media (max-width: 768px) {
  /* line 113, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato .contato {
    float: none;
    width: 100%;
    padding-bottom: 2em;
    margin-bottom: 0;
  }
}
/* line 136, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato header {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 767px) {
  /* line 136, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato .contato header {
    padding: 40px 0;
  }
}
/* line 146, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato:before {
  content: "";
  background: #e5e5e5;
  position: absolute;
  z-index: -5;
  width: 200%;
  height: 100%;
  right: -100%;
}
@media (max-width: 768px) {
  /* line 146, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato .contato:before {
    width: 200%;
    height: 100%;
    right: -50%;
  }
}
/* line 165, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato form {
  padding: 0 40px;
}
@media (max-width: 767px) {
  /* line 165, ../components/sass/modules/_noticias_contato.scss */
  #noticias-contato .contato form {
    padding: 0;
  }
}
/* line 175, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato fieldset {
  display: block;
  margin: 0;
}
/* line 180, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato fieldset label {
  display: block;
  margin-bottom: 10px;
}
/* line 186, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato fieldset input[type="text"],
#noticias-contato .contato fieldset input[type="email"],
#noticias-contato .contato fieldset input[type="tel"] {
  border: 1px solid #c2c2c2;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 10px;
  outline: none;
  width: 94.5%;
}
/* line 61, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#noticias-contato .contato fieldset input[type="text"]:-moz-placeholder,
#noticias-contato .contato fieldset input[type="email"]:-moz-placeholder,
#noticias-contato .contato fieldset input[type="tel"]:-moz-placeholder {
  color: #b3b3b3;
}
/* line 64, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#noticias-contato .contato fieldset input[type="text"]::-moz-placeholder,
#noticias-contato .contato fieldset input[type="email"]::-moz-placeholder,
#noticias-contato .contato fieldset input[type="tel"]::-moz-placeholder {
  color: #b3b3b3;
}
/* line 67, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#noticias-contato .contato fieldset input[type="text"]:-ms-input-placeholder,
#noticias-contato .contato fieldset input[type="email"]:-ms-input-placeholder,
#noticias-contato .contato fieldset input[type="tel"]:-ms-input-placeholder {
  color: #b3b3b3;
}
/* line 56, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#noticias-contato .contato fieldset input[type="text"]::-webkit-input-placeholder,
#noticias-contato .contato fieldset input[type="email"]::-webkit-input-placeholder,
#noticias-contato .contato fieldset input[type="tel"]::-webkit-input-placeholder {
  color: #b3b3b3;
}
/* line 205, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .contato fieldset textarea {
  border: 1px solid #c2c2c2;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 10px;
  outline: none;
  width: 94.5%;
  height: 70px;
  min-height: 70px;
  max-height: 70px;
}
/* line 61, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#noticias-contato .contato fieldset textarea:-moz-placeholder {
  color: #b3b3b3;
}
/* line 64, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#noticias-contato .contato fieldset textarea::-moz-placeholder {
  color: #b3b3b3;
}
/* line 67, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#noticias-contato .contato fieldset textarea:-ms-input-placeholder {
  color: #b3b3b3;
}
/* line 56, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#noticias-contato .contato fieldset textarea::-webkit-input-placeholder {
  color: #b3b3b3;
}
/* line 230, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .btn-saibaMais,
#noticias-contato input[type="submit"] {
  background: #272727;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rokkitt", sans-serif;
  font-size: 22px;
  padding: 15px 50px 15px 25px;
  outline: none;
  line-height: 1em;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 246, ../components/sass/modules/_noticias_contato.scss */
#noticias-contato .btn-saibaMais:hover, #noticias-contato .btn-saibaMais:focus,
#noticias-contato input[type="submit"]:hover,
#noticias-contato input[type="submit"]:focus {
  background: #000;
}

/* line 1, ../components/sass/modules/_historico.scss */
.destaques-valores {
  width: 100%;
  overflow: hidden;
  margin: 0 0 5em;
}
/* line 7, ../components/sass/modules/_historico.scss */
.destaques-valores .destaque-valores {
  width: 48%;
  background: #272727;
  float: left;
  position: relative;
}
@media (max-width: 991px) {
  /* line 7, ../components/sass/modules/_historico.scss */
  .destaques-valores .destaque-valores {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* line 20, ../components/sass/modules/_historico.scss */
.destaques-valores .destaque-valores.right {
  float: right;
}
/* line 25, ../components/sass/modules/_historico.scss */
.destaques-valores .destaque-valores a {
  display: block;
  width: 90%;
  height: 100%;
  padding: 30px;
  position: relative;
}
@media (max-width: 991px) {
  /* line 25, ../components/sass/modules/_historico.scss */
  .destaques-valores .destaque-valores a {
    padding: 50px 30px;
  }
}
/* line 40, ../components/sass/modules/_historico.scss */
.destaques-valores .destaque-valores h4 {
  margin-bottom: 0.3em !important;
}
/* line 45, ../components/sass/modules/_historico.scss */
.destaques-valores .destaque-valores h4, .destaques-valores .destaque-valores p {
  color: #e5e5e5;
  padding-right: 150px;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  /* line 45, ../components/sass/modules/_historico.scss */
  .destaques-valores .destaque-valores h4, .destaques-valores .destaque-valores p {
    padding-right: 120px;
  }
}
@media (max-width: 500px) {
  /* line 45, ../components/sass/modules/_historico.scss */
  .destaques-valores .destaque-valores h4, .destaques-valores .destaque-valores p {
    padding-right: 0;
  }
}
/* line 63, ../components/sass/modules/_historico.scss */
.destaques-valores .destaque-valores:before {
  background: #006a43 url("../imgs/seta-vl-right.jpg") no-repeat 50% 50%;
  content: "";
  width: 175px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
@media (max-width: 500px) {
  /* line 63, ../components/sass/modules/_historico.scss */
  .destaques-valores .destaque-valores:before {
    background: none;
    display: none;
  }
}

/* line 1, ../components/sass/modules/_estrutura_fisica.scss */
.grid {
  padding: 30px 0;
}
/* line 23, ../components/sass/_mixins.scss */
.grid:before, .grid:after {
  content: '';
  display: table;
}
/* line 28, ../components/sass/_mixins.scss */
.grid:after {
  clear: both;
}
/* line 6, ../components/sass/modules/_estrutura_fisica.scss */
.grid .item {
  float: left;
  width: 23.5%;
}
/* line 38, ../components/sass/_mixins.scss */
.grid .item:nth-child(n) {
  margin-right: 2%;
  margin-bottom: 2%;
}
/* line 42, ../components/sass/_mixins.scss */
.grid .item:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  /* line 6, ../components/sass/modules/_estrutura_fisica.scss */
  .grid .item {
    width: 32%;
  }
  /* line 38, ../components/sass/_mixins.scss */
  .grid .item:nth-child(n) {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  /* line 42, ../components/sass/_mixins.scss */
  .grid .item:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  /* line 6, ../components/sass/modules/_estrutura_fisica.scss */
  .grid .item {
    width: 49%;
  }
  /* line 38, ../components/sass/_mixins.scss */
  .grid .item:nth-child(n) {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  /* line 42, ../components/sass/_mixins.scss */
  .grid .item:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 479px) {
  /* line 6, ../components/sass/modules/_estrutura_fisica.scss */
  .grid .item {
    width: 100%;
    margin-bottom: 2% !important;
  }
  /* line 38, ../components/sass/_mixins.scss */
  .grid .item:nth-child(n) {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  /* line 42, ../components/sass/_mixins.scss */
  .grid .item:nth-child(1n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
/* line 29, ../components/sass/modules/_estrutura_fisica.scss */
.grid img {
  display: block;
  max-width: 100%;
}

/* line 1, ../components/sass/modules/_areas_atuacao.scss */
.atuacoes {
  width: 105%;
  margin: 0 0 5%;
  overflow: hidden;
  /*
  .at-01
  {
    background-image: url("../imgs/icon_atuacao01.jpg");
    background-repeat: no-repeat;
  }

  .at-02
  {
    background-image: url("../imgs/icon_atuacao02.jpg");
    background-repeat: no-repeat;
  }  

  .at-03
  {
    background-image: url("../imgs/icon_atuacao03.jpg");
    background-repeat: no-repeat;
  }    
  */
}
@media (max-width: 767px) {
  /* line 1, ../components/sass/modules/_areas_atuacao.scss */
  .atuacoes {
    width: 100%;
    margin: 0%;
  }
}
/* line 15, ../components/sass/modules/_areas_atuacao.scss */
.atuacoes header {
  background-repeat: no-repeat;
  padding: 0 0 10px;
}
/* line 24, ../components/sass/modules/_areas_atuacao.scss */
.atuacoes .interna p {
  text-align: left;
}
/* line 31, ../components/sass/modules/_areas_atuacao.scss */
.atuacoes .item-atuacao {
  background-position: 0% 0%;
  width: 100%;
  margin: 0 0 2%;
}

/* line 1, ../components/sass/modules/_noticias.scss */
.noticias {
  width: 105%;
  margin: 0 -2.5%;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 1, ../components/sass/modules/_noticias.scss */
  .noticias {
    width: 100%;
    margin: 0;
  }
}
/* line 14, ../components/sass/modules/_noticias.scss */
.noticias article {
  width: 45%;
  margin: 0 2.5%;
  float: left;
  position: relative;
  margin-bottom: 5em;
  border-bottom: #c6c6c6 1px solid;
}
@media (max-width: 767px) {
  /* line 14, ../components/sass/modules/_noticias.scss */
  .noticias article {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
}
/* line 32, ../components/sass/modules/_noticias.scss */
.noticias article .data {
  background: #272727;
  padding: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
/* line 43, ../components/sass/modules/_noticias.scss */
.noticias article .data h4 {
  color: #fff;
  font-size: 30px;
  line-height: .8em;
}
/* line 50, ../components/sass/modules/_noticias.scss */
.noticias article .data h5 {
  color: #fff;
  font-size: 18px;
  line-height: .8em;
}
/* line 62, ../components/sass/modules/_noticias.scss */
.noticias article a h3 {
  color: #272727;
  margin-bottom: 2em;
  line-height: .8em;
  margin-bottom: 10px;
}
/* line 70, ../components/sass/modules/_noticias.scss */
.noticias article a p {
  color: #272727;
  text-align: justify;
  margin-bottom: 20px;
}

/* line 83, ../components/sass/modules/_noticias.scss */
.noticia-interna {
  padding: 45px 0;
  width: 100%;
  margin: 0;
}
/* line 89, ../components/sass/modules/_noticias.scss */
.noticia-interna figure {
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}
@media (max-width: 767px) {
  /* line 89, ../components/sass/modules/_noticias.scss */
  .noticia-interna figure {
    margin: 0 0 20px 0;
    float: none;
    width: 100%;
  }
  /* line 101, ../components/sass/modules/_noticias.scss */
  .noticia-interna figure img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}
/* line 112, ../components/sass/modules/_noticias.scss */
.noticia-interna article {
  border-bottom: 0 none;
  margin: 0;
  width: 100%;
}
/* line 119, ../components/sass/modules/_noticias.scss */
.noticia-interna article h3 {
  margin-bottom: .3em;
}
/* line 124, ../components/sass/modules/_noticias.scss */
.noticia-interna article p {
  margin: 0 0 1em 0;
}

/* line 1, ../components/sass/modules/_contato.scss */
.formulario {
  width: 105%;
  margin: 0 -2.5% 40px;
  overflow: hidden;
}
/* line 8, ../components/sass/modules/_contato.scss */
.formulario header {
  padding-left: 40px;
  padding-right: 40px;
}
/* line 14, ../components/sass/modules/_contato.scss */
.formulario fieldset {
  display: block;
  margin: 0 2.5%;
  width: 45%;
  float: left;
}
@media (max-width: 767px) {
  /* line 14, ../components/sass/modules/_contato.scss */
  .formulario fieldset {
    width: 100%;
    margin: 0;
    float: none;
  }
}
/* line 28, ../components/sass/modules/_contato.scss */
.formulario fieldset.full {
  width: 100%;
  clear: both;
}
/* line 34, ../components/sass/modules/_contato.scss */
.formulario fieldset label {
  display: block;
  margin-bottom: 10px;
}
/* line 40, ../components/sass/modules/_contato.scss */
.formulario fieldset input[type="text"],
.formulario fieldset input[type="email"],
.formulario fieldset input[type="tel"] {
  border: 1px solid #c2c2c2;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 10px;
  outline: none;
  width: 94.5%;
}
/* line 61, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset input[type="text"]:-moz-placeholder,
.formulario fieldset input[type="email"]:-moz-placeholder,
.formulario fieldset input[type="tel"]:-moz-placeholder {
  color: #b3b3b3;
}
/* line 64, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset input[type="text"]::-moz-placeholder,
.formulario fieldset input[type="email"]::-moz-placeholder,
.formulario fieldset input[type="tel"]::-moz-placeholder {
  color: #b3b3b3;
}
/* line 67, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset input[type="text"]:-ms-input-placeholder,
.formulario fieldset input[type="email"]:-ms-input-placeholder,
.formulario fieldset input[type="tel"]:-ms-input-placeholder {
  color: #b3b3b3;
}
/* line 56, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset input[type="text"]::-webkit-input-placeholder,
.formulario fieldset input[type="email"]::-webkit-input-placeholder,
.formulario fieldset input[type="tel"]::-webkit-input-placeholder {
  color: #b3b3b3;
}
/* line 59, ../components/sass/modules/_contato.scss */
.formulario fieldset textarea {
  border: 1px solid #c2c2c2;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 10px;
  outline: none;
  width: 94.5%;
  height: 117px;
  min-height: 117px;
  max-height: 117px;
}
/* line 61, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset textarea:-moz-placeholder {
  color: #b3b3b3;
}
/* line 64, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset textarea::-moz-placeholder {
  color: #b3b3b3;
}
/* line 67, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset textarea:-ms-input-placeholder {
  color: #b3b3b3;
}
/* line 56, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.formulario fieldset textarea::-webkit-input-placeholder {
  color: #b3b3b3;
}
/* line 80, ../components/sass/modules/_contato.scss */
.formulario fieldset input[type="text"],
.formulario fieldset input[type="email"],
.formulario fieldset input[type="tel"],
.formulario fieldset textarea {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media (max-width: 767px) {
  /* line 80, ../components/sass/modules/_contato.scss */
  .formulario fieldset input[type="text"],
  .formulario fieldset input[type="email"],
  .formulario fieldset input[type="tel"],
  .formulario fieldset textarea {
    width: 93%;
  }
}
/* line 91, ../components/sass/modules/_contato.scss */
.formulario fieldset input[type="text"]:hover, .formulario fieldset input[type="text"]:focus,
.formulario fieldset input[type="email"]:hover,
.formulario fieldset input[type="email"]:focus,
.formulario fieldset input[type="tel"]:hover,
.formulario fieldset input[type="tel"]:focus,
.formulario fieldset textarea:hover,
.formulario fieldset textarea:focus {
  border: 1px solid #006a43;
}

/* line 103, ../components/sass/modules/_contato.scss */
.btn-saibaMais,
#enviar,
.enviar-icon {
  width: auto;
  position: relative;
}
/* line 111, ../components/sass/modules/_contato.scss */
.btn-saibaMais:before,
#enviar:before,
.enviar-icon:before {
  background: url("../imgs/btn-bg.png") no-repeat 0 0;
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -3px;
  left: 0;
  width: 26px;
  height: 54px;
}

/* line 125, ../components/sass/modules/_contato.scss */
.btn-saibaMais,
input[type="submit"] {
  background: #006a43;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rokkitt", sans-serif;
  font-size: 22px;
  padding: 10px 50px 10px 25px;
  outline: none;
  line-height: 1em;
  margin-top: -3px;
  position: relative;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 143, ../components/sass/modules/_contato.scss */
.btn-saibaMais:hover, .btn-saibaMais:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #000;
}

/* line 151, ../components/sass/modules/_contato.scss */
input[type="submit"] {
  width: 98%;
}

/* line 1, ../components/sass/modules/_localizacao.scss */
#ext-mapa {
  width: 100%;
  height: 350px;
  position: relative;
  margin-bottom: 40px;
}
/* line 9, ../components/sass/modules/_localizacao.scss */
#ext-mapa #mapa {
  width: 100%;
  height: 300px;
}
/* line 15, ../components/sass/modules/_localizacao.scss */
#ext-mapa #form-localizacao {
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
@media (max-width: 500px) {
  /* line 15, ../components/sass/modules/_localizacao.scss */
  #ext-mapa #form-localizacao {
    height: 104px;
  }
}
/* line 28, ../components/sass/modules/_localizacao.scss */
#ext-mapa #form-localizacao label {
  display: block;
  width: 77.5%;
  height: 100%;
  position: relative;
  float: left;
  margin-left: 1px;
}
@media (max-width: 767px) {
  /* line 28, ../components/sass/modules/_localizacao.scss */
  #ext-mapa #form-localizacao label {
    width: 60%;
  }
}
@media (max-width: 500px) {
  /* line 28, ../components/sass/modules/_localizacao.scss */
  #ext-mapa #form-localizacao label {
    width: 100%;
    float: none;
  }
}
/* line 50, ../components/sass/modules/_localizacao.scss */
#ext-mapa #form-localizacao input {
  width: 100%;
  height: 20px;
  padding: 1em;
  outline: none;
  border: #ddd 1px solid;
}
/* line 59, ../components/sass/modules/_localizacao.scss */
#ext-mapa #form-localizacao input[type="text"] {
  background: rgba(255, 255, 255, 0.75);
  color: #555;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
/* line 61, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ext-mapa #form-localizacao input[type="text"]:-moz-placeholder {
  color: #b3b3b3;
}
/* line 64, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ext-mapa #form-localizacao input[type="text"]::-moz-placeholder {
  color: #b3b3b3;
}
/* line 67, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ext-mapa #form-localizacao input[type="text"]:-ms-input-placeholder {
  color: #b3b3b3;
}
/* line 56, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#ext-mapa #form-localizacao input[type="text"]::-webkit-input-placeholder {
  color: #b3b3b3;
}
@media (max-width: 500px) {
  /* line 59, ../components/sass/modules/_localizacao.scss */
  #ext-mapa #form-localizacao input[type="text"] {
    width: 93%;
  }
}
/* line 78, ../components/sass/modules/_localizacao.scss */
#ext-mapa #form-localizacao input[type="submit"] {
  border: 0 none;
  float: right;
  width: 20%;
  height: 100%;
  padding: 20px;
  font-size: 15px;
  font-family: "Raleway";
  letter-spacing: 1px;
  text-align: center;
  z-index: 90;
  position: relative;
}
@media (max-width: 767px) {
  /* line 78, ../components/sass/modules/_localizacao.scss */
  #ext-mapa #form-localizacao input[type="submit"] {
    width: 38%;
  }
}
@media (max-width: 500px) {
  /* line 78, ../components/sass/modules/_localizacao.scss */
  #ext-mapa #form-localizacao input[type="submit"] {
    float: none;
    width: 100%;
  }
}

/* line 112, ../components/sass/modules/_localizacao.scss */
.maps strong {
  font-weight: 700;
}

/* line 118, ../components/sass/modules/_localizacao.scss */
.gm-style .gm-style-iw {
  font-weight: 400 !important;
  line-height: 1.2em;
}

/* line 4, ../components/sass/modules/_equipe.scss */
.equipe .half {
  width: 48%;
  float: left;
}
@media (max-width: 767px) {
  /* line 4, ../components/sass/modules/_equipe.scss */
  .equipe .half {
    width: 100%;
    float: none;
  }
}
/* line 15, ../components/sass/modules/_equipe.scss */
.equipe .half img {
  max-width: 100%;
}
/* line 20, ../components/sass/modules/_equipe.scss */
.equipe .half header, .equipe .half p {
  padding-right: 5%;
}
/* line 27, ../components/sass/modules/_equipe.scss */
.equipe .right {
  float: right;
}

/* line 1, ../components/sass/modules/_mobile.scss */
#icon-mobile,
.close {
  cursor: pointer;
  width: 25px;
  height: 25px;
  float: right;
  margin: 37px 0;
  display: none;
}
@media (max-width: 991px) {
  /* line 1, ../components/sass/modules/_mobile.scss */
  #icon-mobile,
  .close {
    display: block;
  }
}

/* line 18, ../components/sass/modules/_mobile.scss */
.close {
  margin-right: 45px;
}

/* line 23, ../components/sass/modules/_mobile.scss */
#menu-mobile {
  position: fixed;
  bottom: 0;
  right: -320px;
  top: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  z-index: 999999;
  height: 100%;
  width: 320px;
  overflow: hidden;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 44, ../components/sass/modules/_mobile.scss */
#menu-mobile ul {
  padding: 2em;
}
/* line 48, ../components/sass/modules/_mobile.scss */
#menu-mobile ul.submenu {
  padding: 1em;
  padding-bottom: 0;
}
/* line 54, ../components/sass/modules/_mobile.scss */
#menu-mobile ul li {
  padding: 1em;
}
/* line 58, ../components/sass/modules/_mobile.scss */
#menu-mobile ul li a {
  color: #272727;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
/* line 65, ../components/sass/modules/_mobile.scss */
#menu-mobile ul li a:hover {
  color: #006a43;
}

/* line 79, ../components/sass/modules/_mobile.scss */
.expanded #menu-mobile {
  right: 0;
}

/* line 1, ../components/sass/modules/_footer.scss */
#footer {
  background: #272727;
  overflow: hidden;
  height: 120px;
}
/* line 8, ../components/sass/modules/_footer.scss */
#footer .footerLft {
  width: 20%;
  float: left;
  position: relative;
  z-index: 10;
  padding: 35px 0;
}
/* line 16, ../components/sass/modules/_footer.scss */
#footer .footerLft:before {
  background: #e5e5e5;
  content: "";
  position: absolute;
  top: 0;
  left: -300%;
  z-index: -10;
  width: 400%;
  height: 100%;
}
@media (max-width: 991px) {
  /* line 8, ../components/sass/modules/_footer.scss */
  #footer .footerLft {
    width: 30%;
  }
}
@media (max-width: 767px) {
  /* line 8, ../components/sass/modules/_footer.scss */
  #footer .footerLft {
    display: none;
    width: 0%;
  }
}
/* line 42, ../components/sass/modules/_footer.scss */
#footer .footerRgt {
  background: url("../imgs/dg-rodape.png") no-repeat 0 0;
  width: 80%;
  float: right;
  padding: 45px 0;
}
@media (max-width: 991px) {
  /* line 42, ../components/sass/modules/_footer.scss */
  #footer .footerRgt {
    width: 70%;
  }
}
@media (max-width: 767px) {
  /* line 42, ../components/sass/modules/_footer.scss */
  #footer .footerRgt {
    background: none;
    width: 100%;
    padding: 20px 0;
  }
}
/* line 61, ../components/sass/modules/_footer.scss */
#footer .footerRgt p,
#footer .footerRgt p a {
  color: #acacac;
  font-size: 13px;
  margin: 0;
}
/* line 69, ../components/sass/modules/_footer.scss */
#footer .footerRgt p a {
  text-decoration: underline;
}
/* line 73, ../components/sass/modules/_footer.scss */
#footer .footerRgt p a:hover {
  text-decoration: none;
}
/* line 79, ../components/sass/modules/_footer.scss */
#footer .footerRgt .mr {
  width: 60%;
  padding: 0 0 0 120px;
  float: left;
}
@media (max-width: 768px) {
  /* line 79, ../components/sass/modules/_footer.scss */
  #footer .footerRgt .mr {
    width: 100%;
    padding: 0;
    float: none;
  }
}
/* line 94, ../components/sass/modules/_footer.scss */
#footer .footerRgt .mn {
  width: 25%;
  float: right;
}
@media (max-width: 1200px) {
  /* line 94, ../components/sass/modules/_footer.scss */
  #footer .footerRgt .mn {
    width: 20%;
  }
}
@media (max-width: 959px) {
  /* line 94, ../components/sass/modules/_footer.scss */
  #footer .footerRgt .mn {
    width: 15%;
  }
}
@media (max-width: 768px) {
  /* line 94, ../components/sass/modules/_footer.scss */
  #footer .footerRgt .mn {
    width: 100%;
    float: none;
    text-align: center;
  }
}
/* line 116, ../components/sass/modules/_footer.scss */
#footer .footerRgt .mn a {
  line-height: 45px;
}
@media (max-width: 500px) {
  /* line 116, ../components/sass/modules/_footer.scss */
  #footer .footerRgt .mn a {
    display: block;
    width: 90px;
  }
}

/*# sourceMappingURL=styles.css.map */
